.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*
.bundler/*

.kitchen/
.kitchen.local.yml

/gitlab
/gitlab-shell
/gitlab-satellites
/repositories
.gemrc
.gitconfig
.ssh/*
.gitlab*
.bash*
.qws*
install.sh
